$default-font: "roboto-example", sans-serif
$accent: #0f4063
$yellow: #fcdb1c
$grey: #393838
$blue: #0f76c7

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1360px)

$gutter: $grid-gutter-width
